<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings configSource="config\connectionString.xml"></connectionStrings>
  <appSettings>
    <add key="ProviderName" value="System.Data.SqlClient"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>